<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Quote</key>
	<array>
		<string>&quot;Live every day like it&apos;s Taco Tuesday.&quot;</string>
		<string>&quot;All I&apos;m saying is you&apos;ve never seen anyone crying and eating tacos at the same time.&quot;</string>
		<string>&quot;Yesterday I really wanted tacos. Now I&apos;m eating tacos. Follow your dreams.&quot;</string>
		<string>&quot;When is taco-bod season, because I am ready for that.&quot;</string>
		<string>&quot;I wish I was full of tacos instead of emotions.&quot;</string>
		<string>&quot;I&apos;m in a good place right now. Not emotionally - I&apos;m just at a taco stand.&quot;</string>
		<string>&quot;Pros and Cons Of Eating Tacos - Pros: Eating the tacos. Cons: Finishing the tacos.&quot;</string>
		<string>&quot;I want to start juicing but I&apos;m hesitant because I don&apos;t know how to juice tacos.&quot;</string>
		<string>&quot;I oppose Taco Tuesday, only because it sends the message that other days aren&apos;t also for tacos.&quot;</string>
		<string>&quot;You are the salsa to my tacos.&quot;</string>
		<string>&quot;Inhale tacos. Exhale negativity. Namaste.&quot;</string>
		<string>&quot;Thank god I don&apos;t have to hunt for my food, I don&apos;t even know where tacos live.&quot;</string>
		<string>&quot;Thinkin bout that summer body, but also bout them tacos.&quot;</string>
		<string>&quot;If we date, we&apos;re not going wine tasting. We&apos;re going taco tasting.&quot;</string>
		<string>&quot;All I want to hear are those three magical little words...I brought tacos.&quot;</string>
		<string>&quot;Ideal date: We go get tacos. I eat 13. You are very impressed and not at all grossed out.&quot;</string>
		<string>&quot;If someone tells you that you eat too many tacos, just walk away. You don&apos;t need that kind of negativity in your life.&quot;</string>
		<string>&quot;There is no WE in tacos.&quot;</string>
		<string>&quot;Life Hack: Eat hard tacos over a tortilla so that when stuff falls out - bam! Another taco!&quot;</string>
		<string>&quot;Life is like a taco. Well, not really....I&apos;m just hungry.&quot;</string>
		<string>&quot;Fitness? More like fitness whole taco in my mouth.&quot;</string>
		<string>&quot;Life is short. Eat more tacos.&quot;</string>
		<string>&quot;Bathing suit season is just around the corner. Unfortunately, so is the taco truck.&quot;</string>
		<string>&quot;Don&apos;t tell me you miss me. Tell me you&apos;re outside with tacos. Actions speak louder than words.&quot;</string>
		<string>&quot;If you had to choose between being skinny or eating taco everyday - would you choose hard or soft tacos?&quot;</string>
		<string>&quot;A well balanced diet is a taco in each hand.&quot;</string>
		<string>&quot;Make tacos, not war.&quot;</string>
		<string>&quot;Surround yourself with tacos, not negativity.&quot;</string>
		<string>&quot;Let&apos;s taco &apos;bout how awesome I am!&quot;</string>
		<string>&quot;Abs are cool - but have you tried tacos?&quot;</string>
		<string>&quot;There&apos;s always hope tomorrow will be taco night.&quot;</string>
		<string>&quot;I enjoy romantic walks to the taco truck.&quot;</string>
		<string>&quot;When it&apos;s done properly, taco should be a verb.&quot;</string>
		<string>&quot;Dont&apos; trust people that dislike tacos. They&apos;re probably not human.&quot;</string>
		<string>&quot;Ways to my heart: 1. Buy me tacos. 2. Make me tacos. 3. Be tacos.&quot;</string>
		<string>&quot;All I need is you (and tacos).&quot;</string>
		<string>&quot;My head says gym but my heart says tacos.&quot;</string>
		<string>&quot;I&apos;m worried that no one will ever make me as happy as tacos do.&quot;</string>
		<string>&quot;I can&apos;t promise you the world - but I can promise you tacos.&quot;</string>
	</array>
</dict>
</plist>
